!!! 5
html
  head
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css" )
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script.
      var socket = io.connect();
      
      
 
      $(function() {
        
        //function to create message node
        function createMessageNode(data) {
          var nodeString = "" +
          "<p class='text-muted'> " + 
            "<a href='#' class='message_sender text-primary'><span class='num'>" + data.number + "</span> (" + data.from + "):" + "</a>" + 
            "<span> " + data.message + "</span>" + 
          "</p>"
          
          return nodeString;  
        }
        
        
        var receiver = null;
        var verified = false;
        
        
        $("#message_container").delegate(".message_sender","click", function(event) {
          event.preventDefault();
          receiver = $(this).find('.num').text();
          console.log("receiver is: " + receiver);
          $("#lblReceiver").show().text(($(this).text()));
        })
        
        
        socket.on("receivedMessage", function(data) {
          //append message to message container div
          $("#message_container").prepend(createMessageNode(data));
        })
        
        
        $("#sendMessageBtn").on("click", function () {
          
          if(!verified) { 
            return alert("you must verify your phone number first");
          }
          
          
          //receiver cannot be null
          if(receiver == null) {
            return alert("you must select a receiver by clicking on one of the numbers");
          }
          
          
          //message cannot be empty
          if($("#userMessage").val() == "") {
            return alert("message cannot be empty");
          }
          
          
          //emit to socket to send the message
          socket.emit("message_sent", {
            receiver: receiver,
            message: $("#userMessage").val()
          });
          
          //clear textarea
          $("#userMessage").val('');
           
        })
        
        
        
        
        
        $("#register_button").on("click", function(event) {
          event.preventDefault();
          socket.emit("register", {
            phone_number: $("#phone_number").val(),
            secret: $("#secret_identifier").val()
          });
        });
 
        $("#verify_button").on("click", function(event) {
          event.preventDefault();
          socket.emit("verify", {
            phone_number: $("#phone_number").val(),
            code: $("#code").val()
          });
        });
 
        socket.on("code_generated", function(data) {
          $("#register").fadeOut();
          $("#verify").fadeIn();
          $("#update").fadeOut();
          $("#register_instructions").fadeOut();
          $("#verify_instructions").fadeIn();
        });
 
        socket.on("update", function(data) {
          $("#update").html(data.message);
          $("#update").fadeIn();
        });
 
        socket.on("reset", function(data) {
          $("#register_instructions").fadeIn();
          $("#verify_instructions").fadeOut();
          $("#update").fadeOut();
          $("#register").fadeIn();
          $("#verify").fadeOut();
        });
 
        socket.on("verified", function(data) {
          verified = true;
          $("#register").fadeOut();
          $("#verify").fadeOut();
          $("#register_instructions").fadeOut();
          $("#verify_instructions").fadeOut();
          $("#message_section").fadeIn();
        });
        
        socket.on("sms_message", function(msg) {
          console.log("message is: " + msg);
        })
      });
  body.container.text-center(style="margin-top: 50px")
    strong#update.text-danger(style="display: none")
    p#register_instructions Enter your phone number:
    p#verify_instructions(style="display: none") Enter your verification code:
    div#register
      form
        .form-group
          label Secret Identifier
          input(type="text", placeholder="53CR37P45SW0RD", style="font-size: 30px; height: 35px;")#secret_identifier.form-control
        .form-group
          label Phone number
          input(type="text", placeholder="(000) - 000 - 0000", style="font-size: 30px; height: 35px;")#phone_number.form-control
        .form-group.text-left
          input(type="submit", value="Register")#register_button.btn.btn-success.col-xs-12
    div#verify(style="display: none")
      form
        input(type="text")#code
        input(type="submit", value="Verify")#verify_button
    div#message_section(style="display: none")
      h1.text-muted Your Messages
      div#message_container.col-xs-12.col-md-8.col-md-offset-2.container.text-left(style="padding: 10px 5px 10px 5px; max-height:300px; overflow-y: scroll; height:200px")
          
        
      textarea#userMessage.col-xs-12.col-md-8.col-md-offset-2(style="min-height: 150px; padding-left:5px;padding-top:10px; padding-bottom:0.4em; padding-right: 0.4em;")
      button#sendMessageBtn.btn.btn-success.text-center.col-xs-12.col-md-8.col-md-offset-2 SEND TO
        span(style="padding-left: 5px; padding-right: 5px; display:none;")#lblReceiver
        span.glyphicon.glyphicon-send(style="padding-left: 5px; padding-right: 5px;")
        
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
